

.container
  width: 93.75%
  margin: 0 auto
  +container
  // +susy-grid-background

header,
section
  padding: emCalc(60px) 0
  // @media only screen and (min-width: $M )
  +at-breakpoint($M)
    padding: emCalc(120px) 0

h2
  font-size: emCalc(30px)
  font-weight: 100
  margin: 0
  +at-breakpoint($M)
    font-size: emCalc(72px)
    margin-top: 16px
    margin-bottom: 1em

// HEADER

.top-header
  color: $nearlyWhite
  background: $dark
  +at-breakpoint($M)
    background: $lightGrey url('../assets/img/BG-header-portrait-detoure.png') 168% 1em no-repeat
  +at-breakpoint($L)
    background-position: right 1em

.portrait
  width: 40%
  margin-left: auto
  margin-right: auto
  margin-bottom: emCalc(30px)
  @media only screen and (min-width: $M )
    display: none

  img
    max-width: 100%
    height: auto
    margin-left: 50%
    +transform(translateX(-50%))


.title
  text-align: center
  +at-breakpoint($M)
    +span-columns(4 , 12)
    +post(8)
    text-align: left
    margin-bottom: emCalc(144px)

  .container
    +at-breakpoint($M)
      margin-bottom: 0

  h1
    font-size: emCalc(36px)
    margin: 0
    +at-breakpoint($M)
      font-size: 2.39583em
      margin: 0
  h2
    font-size: emCalc(18px)
    margin-top: emCalc(12px)
    margin-bottom: emCalc(60px)
    font-weight: bold
    +at-breakpoint($M)
      font-size: emCalc(24px)
      margin-left: .6em
      margin-bottom: 0


.intro
  +at-breakpoint($M)
    +span-columns(7,12)
    +post(5)
    margin-bottom: 2.5em

  em
    font-style: normal
    font-size: emCalc(48px)
    font-weight: 100
    +at-breakpoint($M)
      font-size: emCalc(72px)
  p
    font-size: emCalc(20px)
    line-height: 1.5
    +at-breakpoint($M)
      font-size: emCalc(22px)
      margin-top: 2em
  ins
    text-decoration: none


// BIG ICONS

.big-icons
  height: emCalc(296px)
  background: $nearlyWhite
  padding-top: emCalc(60px)

  .container
    height: inherit
    background-image: url('../assets/img/contact-desktop/css3.png'), url('../assets/img/contact-desktop/semantic.png'), url('../assets/img/contact-desktop/html5.png') , url('../assets/img/contact-desktop/js.png')
    background-position: 0 7%, 32% 0, 64% 0, 100% 0

    background-repeat: no-repeat


  @media only screen and (max-width: $S )
    display: none



// SECTION WT*-I-DO

.what-I-do
  background: lighten($lightGrey, 20%)
  +at-breakpoint($M)
    background: lighten($lightGrey, 20%) url('../assets/img/multi-devices.png') -33em emCalc(120px) no-repeat
  +at-breakpoint($L)
    background-position: -26em emCalc(120px)
  +at-breakpoint($XL)
    background-position: -17em emCalc(120px)

.yep-I-do
  margin-bottom: 4em
  +at-breakpoint($M)
    +pre(5)
    +span-columns(7, 12)



// CONTACT

.contact
  background: $darkGrey
  text-align: center
  @media only screen and (min-width: $M )
    display: none


.primary-contact
  list-style: none
  padding: 0
  font-size: emCalc(20px)
  margin-bottom: 0
  li
    padding: 0.3em .4em
    font-weight: 700
  a
    padding: .4em 1em



//  SOCIALIZE

$social-mobile-spacing: 10px
@import  "social-mobile/*.png"
@include all-social-mobile-sprites(true)
+all-social-mobile-sprites

.socialize
  background: $dark
  @media only screen and (min-width: $M )
    display: none

.social
  list-style: none
  padding: 0
  margin: 0

  li
    display: inline-block
    +hide-text()
    margin-right: 3.2% // 3%
    &:last-child
      margin-right: 0

  a
    display: block
    width: 100%
    height: 100%


// SAY HELLO

.say-hello
  p
    font-weight:  100
    margin-bottom:  emCalc(120px)
  em
    font-style: normal
  @media only screen and (max-width: $S )
    display: none



// $contact-desktop-spacing: 20px
// @import  "contact-desktop/*.png"
// @include all-contact-desktop-sprites(true)
// +all-contact-desktop-sprites

+font-face("Blooming Grove", font-files("examples/bgrove.ttf", "examples/bgrove.otf"))

+font-face("fontello", font-files("fontello.woff", "fontello.ttf", "fontello.svg", "fontello.eot" ))


.sayHi
  list-style: none
  padding: 0
  margin: 0

  li
    display: inline
    margin-right: .6%

    &:last-child
      margin-right: 0

  a
    display: inline-block
    position: relative
    width: emCalc(120px)
    height: emCalc(120px)
    background: $lightGrey
    &:hover
      background: $dark



.icon
  display: inline-block
  font-size: 4em
  position: absolute
  top: 50%
  left: 50%
  margin-top: -16px
  margin-left: -32px

  &:after
    font-family: "fontello"
    speak: none
    text-transform: none
    -webkit-font-smoothing: antialiased


.email
  &:after
    content: "\e801"
.twitter
  &:after
    content: "\e804"
.github
  &:after
    content: "\e805"
.linkedin
  &:after
    content: "\e803"
.viadeo
  &:after
    content: "\e800"
.gplus
  &:after
    content: "\e802"
.lanyrd
  &:after
    content: "\e806"


// FOOTER

footer
  font-size: .8em
  a
    &:hover
      color: $lightGrey
    &:active
      color: $darkGrey

